body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease;
    transform: translateX(-150px);
    z-index: 1;
}

.menu:hover {
    transform: translateX(0);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #575757;
}

section {
    margin-left: 200px;
    padding: 20px;
}

.project {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
.carousel {
    position: relative;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

.carousel-track-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.carousel-slide img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel-button-left {
    left: 0;
}

.carousel-button-right {
    right: 0;
}
